<header class="site-header">
    <div class="container">
        <div class="header-content">
            <div class="logo">
                <a href="/{{ page.lang }}/">
                    <i class="fas fa-leaf"></i>
                    <span>{{ site.data.translations[page.lang].site_title }}</span>
                </a>
            </div>

            {% include navigation.html %}
            {% include language-switcher.html %}
            
            <button class="mobile-menu-toggle">
                <i class="fas fa-bars"></i>
            </button>
        </div>
    </div>
</header>
        
       
